@model ReservationSystem_Server.Models.Reservation.CreateVM //type of views model

<form method="post">
    <div class="form-group">
        
            <label class="form-label">Sitting Type</label>
            <br/>
            <input asp-for=SittingType class="form-control" readonly disabled />     
    </div>
    
     <div class="form-group">
        
            <label class="form-label">No. of Guests</label>
            <input asp-for=NoOfPeople class="form-control" min="0" /> 
    </div>

     <div class="form-group">
        
            <label class="form-label">Start Time</label>
            <input asp-for=StartTime class="form-control" />
    </div>

@*    <div class="form-group">
        
            <label class="form-label">End Time</label>
            <br/>
             <input asp-for=SittingEndTime class="form-control" readonly  />
    </div>*@

    <div class="form-group">
        
            <label class="form-label">Duration</label>
            <br/>
            <input asp-for=Duration class="form-control" readonly/>
    </div>

    <div class="form-group">
        
            <label class="form-label">Notes/Requests</label>
             <input asp-for=Notes class="form-control" />
    </div>
    
    <br/>

     <input type="submit" value="Submit" />

</form>
