@{
    ViewData["Title"] = "Home Page";
}

<p>Admin: a@e.com Abc123!@@#</p>
<p>Manager: m@e.com Abc123!@@#</p>
<p>Employee: e@e.com Abc123!@@#</p>
<p>Member: u@e.com Abc123!@@#</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>