<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Bean Scene Cafe Reservation System"/>
    <title>@ViewData["Title"] - Bean Scene</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/scss/customBootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: var(--navbar-bg)">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Brand.png" width="256" height="256" style="width:40px; height: auto;" alt="Logo of a bean above a coffee cup"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <nav class="navbar-nav flex-grow-1 d-flex justify-content-between">
                    <partial name="_Nav"/>
                    <partial name="_LoginPartial"/>
                </nav>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top border-primary footer">
    <div class="container mt-2">
        <b>Bean Scene</b>
        <span class="d-block">Address: 123 Main Street</span>
        <span class="d-block">Phone: 04 1234 5678</span>
        <span class="d-block">Email: email@example.com</span>
        
        
        <span>&copy; 2022 - Bean Scene</span>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>