@model DateTime

<div class="form-group">
    <label asp-for="@Model" class="form-label">Start Time</label>
    <div class="input-group" id="time-display">
        <a class="btn btn-outline-primary" id="edit-time">Edit</a>
        <input type="text" class="form-control" disabled readonly value="@Model.ToShortTimeString()"/>
    </div>
    <div class="visually-hidden" id="time-select">
        <div class="list-group list-group-horizontal-lg text-center flex-wrap">
            @{
                if (ViewData["TimeSlots"] is not List<DateTime> timeSlots)
                {
                    throw new ArgumentException("You must provide a list of time slots in ViewData with the key 'TimeSlots'");
                }
            }

            @foreach (DateTime timeSlot in timeSlots)
            {
                string formattedTime = timeSlot.ToShortTimeString();
                <a class="list-group-item list-group-item-action select-time-slot border-start"
                   data-time=@Json.Serialize(timeSlot) data-display="@formattedTime" style="cursor: pointer; flex: 1 0 16%;">
                    @formattedTime
                </a>
            }
        </div>
    </div>
    <div class="visually-hidden invisible" aria-hidden="true">
        <input asp-for="@Model" id="time-picker-val"/>
    </div>
</div>

<script defer src="~/js/time-picker.js"></script>