<div class="d-flex flex-nowrap">
    <span class="nav-item">
        <a class="nav-link" style="color: #941925" asp-area="" asp-controller="Home" asp-action="Index" cth-active>Exit Admin Area</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index" cth-active>Admin Home</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Sitting" asp-action="Index" cth-active>Sittings</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Reservation" asp-action="Index" cth-active>Reservations</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Employee" asp-action="Index" cth-active>Employees</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Restaurant" asp-action="Index" cth-active>Restaurant</a>
    </span>
</div>