<li class="nav-item">
    <a class="nav-link" style="color: #941925" asp-area="" asp-controller="Home" asp-action="Index" cth-active>Exit Admin Area</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index" cth-active>Admin Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Sitting" asp-action="Index" cth-active>Sittings</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Reservation" asp-action="Index" cth-active>Reservations</a>
</li>