html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-summary-valid {
  display: none;
}

.nav-item-impact {
  padding: 20px 24px 12px !important;
  margin-top: -12px;
  margin-bottom: -12px;
}

.nav-item-impact:hover {
  filter: brightness(85%);
}

.carousel-caption {
  padding: 0;
  left: 0;
  width: 100%;
  bottom: 0.05rem;
  text-shadow: 2px 2px #000;
}

.carousel-indicators {
  bottom: 1.25rem;
}

.navbar {
  box-shadow: #D4C7B4 -1px 5px 15px -3px;
}