@model ReservationSystem_Server.Areas.Admin.Models.Sitting.CreateVM

@{
    ViewData["Title"] = "Create a New Sitting";
}

<form method="post">
    <div class="form-group">
        <label asp-for="StartTime" class="form-label"></label>
        <input asp-for="StartTime" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" />
    </div>
    <div class="form-group">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" />
    </div>
    <div class="form-group">
        <label asp-for="SittingType"></label>
        <select asp-for="SittingType" asp-items="Model!.SittingTypes" class="form-select"></select>
    </div>
    <input type="submit" value="Confirm"/>
</form>
